---
import PostPreview from './PostPreview.astro'
const { posts } = Astro.props
// TODO: Add explicit types to satisfy TS type checker
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));
---
<section class="post-preview__list">
    {sortedPosts.map((post) => (
        //  XXX: Test value to see frontmatter value
        // <p>{JSON.stringify(post.frontmatter.date)}</p>
        <PostPreview post={post}/>
    ))}
</section>
<style>
    .post-preview__list {
        @apply flex flex-col gap-12
    }
</style>
    